body {
            font-family: Times;
            background-image: url("assets/pixel-tile.png"); 
            margin: 20px;
            padding: 0;
        }
        #container {
            width: 800px;
            margin: 0 auto;
            background-color:  #194345;
            padding: 20px;
            border: 5px solid #69fff5;
        }
        h1 {
            text-align: center;
            color: #69fff5;
        }
        p {
            color: #69fff5;
        }
                h2 {
            color: #69fff5;
        }
        nav {
            text-align: center;
            margin-bottom: 20px;
        }
        nav a {
            text-decoration: none;
            color: #9a91ff;
            padding: 0 10px;
        }
        nav a:hover {
            background-color: #0f2628;
        }
        a {
          color: #9a91ff;
        }
        #content {
            padding: 20px;
            color: #0fb7ff;
        }
        footer {
            text-align: center;
            margin-top: 20px;
            color: #0fb7ff;
        }
         #uh {
border: inset;
background: white;
}
